<div class="linkbar">
  <div class="linkbar-links">
    <a href="https://github.com/TrimperAlex"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/trimperalex/"><i class="fab fa-linkedin"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
  </div>
  <div class="container">
    <%= link_to "Send me an E-mail", "#", class: "btn-ghost" %>
  </div>
  <div class="container">
    <%= link_to "Check out my Projects", "#", class: "btn-ghost" %>
  </div>
  <div class="container">
    <%= link_to "I have music too", "#", class: "btn-ghost" %>
  </div>
</div>
