<div class="linkbar">
  <div class="linkbar-links">
  <p>Alex Trimper :: Web Developer</p>
    <a href="https://github.com/TrimperAlex" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/trimperalex/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
  </div>
  <%# <div class="flex-wrap"> %>
  <div class="linkbar-links center">
    <%= link_to "Home", root_path, class: "btn-ghost" %>
  </div>
  <div class="linkbar-links center">
    <%= link_to "Contact", pages_contact_path, class: "btn-ghost" %>
  </div>
  <div class="linkbar-links center">
    <%= link_to "Projects", projects_path, class: "btn-ghost" %>
  </div>
</div>
</div>
