<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Build your <strong>Dream Website</strong> with <strong>Me</strong>!</h1>
    <p>Online stores, Portfolios, Blogs </p>
    <%= link_to "Contact", "#", class: "btn-ghost" %>

  </div>
</div>

<br>

<%# LINKBAR %>

<div class="linkbar">
  <div class="linkbar-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="container">
    <%= link_to "Send me an E-mail", "#", class: "btn-ghost" %>
  </div>
  <div class="container">
    <%= link_to "Check out my Projects", "#", class: "btn-ghost" %>
  </div>
  <div class="container">
    <%= link_to "I have music too", "#", class: "btn-ghost" %>
  </div>
</div>

<%# CARD COMPONENT %>

    <%# Ecommerce %>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80)">
    <div class="container-inside">
      <p>Start selling online or improve your current store. From low-cost e-shops to Shopify. </p>
    </div>
  </div>

    <%# Portfolio %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80)">
    <div class="container-inside">
      <p>In need of a portfolio? Showcase your work with a custom gallery. Manage your own content!</p>
    </div>
  </div>

    <%# Blog %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80)">
    <div class="container-inside">
      <p>Write your story and share it with the world. No fuss, no nonsense</p>
    </div>
  </div>
</div>
