<%= render 'shared/banner' %>

<br>

<%# CARDS %>

<div class="container grid">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1599658880436-c61792e70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="card-content">
      <h2 class="card-title">Ecommerce</h2>
      <p class="card-body">Start selling online or improve your current store. Just want something simple and small? No problem! Shopify help is also available.</p>
      <a href="" class="btn-flat">learn more</a>
    </div>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1597274303632-880ef8660375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80)">
    <div class="card-content">
      <h2 class="card-title">Portfolio</h2>
      <p class="card-body">Showcase your work with a custom gallery. Manage your own content and connect with new clients or potential employers.</p>
      <a href="" class="btn-flat">learn more</a>
    </div>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1455390582262-044cdead277a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80)">
    <div class="card-content">
      <h2 class="card-title">Custom Blog</h2>
      <p class="card-body">Write your story and share it with the world. Easy to use platform, no ads, no nonsense.</p>
      <a href="" class="btn-flat">learn more</a>
    </div>
  </div>
</div>

<br>
