<p style="color: green"><%= notice %></p>

<h2>Projects</h2>



<div id="projects" class="grid">
  <% @projects.each do |project| %>
    <%= render project %>
    <br>
    <div class="center">
      <%= link_to "Check it out", project, class: "btn-flat" %>
    </div>
    <br>
    <br>
  <% end %>
</div>
