// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// APP STYLES

// TEXT

a {
  color: #4A4A4A;
  text-decoration: none;
  // text-shadow: 1px 1px .8px #000000;
}

h1 {
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px 1px #000000;
}

p {
  font-family: $serif-font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
h3 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

// BODY

body{
  background-color:#E5DEDE;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
  overflow-y: scroll;
}

// CONTAINER

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-inside {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// FLEX

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

// GRID

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.center {
  display: grid;
  place-items: center
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
